

:root {

    --color: #03051c;
    --color1: #34b0be;
    --color2: #d1ceca;
    --color3: #242635;
    --color4: #fff;
    --color5: #51557E;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color);
    font-family: 'Montserrat', sans-serif;
    
    
}

.container__general {

    display: block;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
    
        
}


/* @media (max-width: 320px){
    .container__general{

        display: block;
        margin: 0 auto;
        padding: 5px;
       
    }

   


}

@media (min-width:768px) {

}

@media (orientation: landscape){


}  */
nav {
    position: fixed;
    padding: 1em;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */

}



nav ul {

    font-family: bold;
    color: #fff;
    display: flex;
    gap: 1em;
    list-style: none;
    
}

ul li a {

    padding: 7px 13px;
}
.icon__burguer {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: var(--color5);
}


/* @media (max-width: 600px) {


    .icon__burguer {
        margin-left: 100px;
    }
    nav ul {
        background-color: var(--color3);
        position: absolute;
        top: 70px;
        width: 477px;
        left: -5px;
        padding: 1em 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -100%;
        transition: margin-top 0.5s;
        -webkit-transition: margin-top 0.5s;
        -moz-transition: margin-top 0.5s;
        -ms-transition: margin-top 0.5s;
        -o-transition: margin-top 0.5s;
    }

    .show__menu {

        margin-top: 0;
    }

    .icon__burguer-show {

        display: block;
    }
} */


.img__logo {
    display: flex;
    width: 10px;
    height: 20vh;
    opacity: 0.5;
    font-size: 40px;
    font-family: bold;
    color: var(--color4);
    padding: 15px;
    -webkit-border-radius:px;
    -moz-border-radius:px;
    -ms-border-radius:px;
    -o-border-radius:px;
}

li:hover, li.active {
    color: var(--color1);
    transition: .4s;
}

.container {

    display: grid;
    max-width: 1400px;
    max-height: 800px;
    
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 80px;
    column-gap: 1em;
   
}

/* @media (max-width: 858px){
    .container {

        margin: 0 auto;

    }
}

@media (max-width: 500px){
    .title hr {

        width: 50px;

    }
} */

.title {
    
    grid-template-rows: 100px auto;
    padding-top: 1em;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    color: var(--color4);
    
    z-index: 1;
    
}
/* @media  (max-width: 858px) {
    .title {
        font-size: 40px;
    }

} */

.title hr {
    background-color: var(--color4);
    width: 190%;
    height: 3px;
    z-index: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* @media  (max-width: 858px) {
    .title hr{
        
        width: 150px;
        z-index: 1;
    }
} */

.title__self span {
   color: var(--color1);
   font-size: 150px;;
   
   z-index: 100;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;

    font-weight: 500;
}

/* @media (max-width: 858px) {
    .title__self span{
        z-index: 1;
        font-size: 50px;
    }
} */


.esfera {

    background-color: var(--color5);
    border-radius: 360px;
    display: block;
    grid-template-columns: 100%;
    grid-column: 2;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: -600px;
}

.photocenter {
    
    display: block;
    justify-content: center;
    align-content: end;
    grid-column: 2/3;
    margin: 0px auto;
    margin-left: 50px;
    margin-top: -760px;
    gap: 0.5em;
    height: 500px;
    max-width: 100px;

    
}

/* @media (max-width: 858px) {

    .photocenter  {
        border-radius: 10px;
        width: 200px;
        height: 180px;
        margin-top:-90px;
        margin-left: 23px;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
}
} */
.subtitle {

    font-size: 50px;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 70%;
    display: flex;
    color: var(--color4);
    margin-left: -400px;
    margin-top: 370px;

}
/* @media (max-width: 858px) {
    .subtitle {
        font-size: 24px;
    }
} */

.self {
    grid-template-rows: 1fr;
    background-color: var(--color5);
    display: grid;
    justify-self: center;
    align-self: center;
    justify-content: center;
    margin-left: -870px;
    width: 130%;
    max-height: 50px;
    border-radius: 550px;
    -webkit-border-radius: 550px;
    -moz-border-radius: 550px;
    -ms-border-radius: 550px;
    -o-border-radius: 550px;
}

/* @media  (max-width: 858px){

    .self {

        max-width: 300px;
        margin-left: -60px;
        margin-top: 30px;
        
    }
} */


.sites {

    background-color: var(--color5);
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    justify-content: center;
    gap: 4em;
    padding: 2em;
    height: 150px;
    width: 600px;
    margin-top: -110px;
    margin-left: -20px;
    border-radius: 10px;
    10px-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/* @media (max-width:858px){

    .central {

        margin-left: 500px;
    }
    .esfera {
        width: 400px;
        height: 400px;
        margin-top: -510px;
    }
}
@media (max-width:1200px){

    
    .esfera {
        width: 400px;
        height: 400px;
        margin-top: -510px;
    }
    
    .sites {
    
        width:  510px;
        margin-left: 50px;
        margin-top: -150px;
    }

    .title hr {

        width: 500px;
    }
    .photocenter {

        margin-top: -780px;
        height: 450px;
        margin-left: 20px;
    }

    .title__self {
        font-size: 45px;
    }

    .subtitle {

        padding: 30px;
        font-size: 40px;
        margin-top: 300px;
        margin-left: -375px;
    }

   

}

@media (max-width:900px){

    .subtitle {

        padding: 30px;
        font-size: 40px;
        margin-top: 300px;
        margin-left: -300px;

}
}


@media (max-width: 858px){

    .sites {

        margin-left: -200px;
    }

    
} */
.sites img {

    background-color: var(--color2);
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    gap: 1em;    
    border-radius: 10px;
    height: 90px;
    width: 130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-content:;
}

.title__experienc{
    color: var(--color4);
    font-size: 20px;
    font-family: ;
    display: grid;
    grid-column: 3/4;
    margin-top: 300px;

}

/* @media  (max-width: 858px){

    .content__redes {

        margin-top: -200px;
    }

    .title__experienc{
        
        margin-left: -110px;
        font-size: 20px;
        
        display: grid;
        grid-column: 3/4;
        margin-top: -200px;
    
    }
    
}

@media  (max-width: 858px){

   
    
} */

.title__experienc span  {


    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-rows: repeat(2, 1fr);
   
    align-items: flex-end;
    
    height: 10px; 
    margin-top: -900px;
    color: var(--color1);
    font-size: 40px;;
    font-family: bold;
    
}

.content__redes {
    
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-column: 3;
    margin-top: -1580px;
    justify-content: flex-start;
    align-content: center;
    text-align: -webkit-center;
    align-self: center;
    
    
}

.linkedin {
    background-color: var(--color2);
    width: 50px;
    height: 50px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
}

.instagram {
    background-color: var(--color2);
    width: 50px;
    height: 50px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
}

.twitter {
    background-color: var(--color2);
    width: 50px;
    height: 50px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
}




.title__about {

    color: var(--color1);
    text-align: center;
    font-size: 40px;
}

/* @media  (max-width: 858px){

    .title__about {
        
        display: grid;
        margin-left: 25px;
    }
} */

.title__about p {

    color: var(--color4);
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;


}

.title__services {

        color: var(--color1);
        text-align: center;
        font-size: 45px;
      
}

/* @media  (max-width: 858px){

    .title__services {
        
        display: grid;
        margin-left: 230px;
    }
} */

.services {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 40px;
   margin: 0 auto;
   border-radius: 10px;
   width: 40%;
   height: 280px;
   justify-content: center;
   text-align: center;

   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

/* @media (max-width: 858px){

    .services {
        
        display: grid;
        width: 100%;
        justify-content: center;
        margin-left: 120px;
       
    }
} */
.service1 {
    display: grid;
    grid-column: 1/2;
    align-items: center;
    border: 5px;
    border-radius: 5px;
    height: 260px;
    margin: 7px;
    color: var(--color3);
    font-weight: 700;
    background-color: var(--color4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* @media (max-width: 858px){

    .service1 {
        width: 120%;
        font-size: 20px;
    }

    .service2 {

        width: 120%;
        font-size: 20px;

    }

    .service3 {

        width: 120%;
        font-size: 20px;
        
    }
} */


.icon__editar {

    align-items: center;
    margin-left: 55px;
    width: 90px;
}

/* @media (max-width: 858px) {
    .icon__editar {

        margin: 0 auto;
    }

    .icon__voz {

        

    }

    .icon__search {

       

    }

}
 */

.service2 {
    display: grid;
    grid-column: 2/3;
    align-items: center;
    border: 5px;
    border-radius: 5px;
    height: 260px;
    margin: 7px;
    color: var(--color3);
    font-weight: 700;
    background-color: var(--color4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.icon__voz {
    align-items: center;
    margin-left: 55px;
    width: 90px;
}

.service3 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    border: 5px;
    border-radius: 5px;
    height: 260px;
    margin: 7px;
    color: var(--color3);
    font-weight: 700;
    background-color: var(--color4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.icon__search {

    align-items: center;
    margin-left: 55px;
    width: 90px;
}
.subtitle__services {
    color: #827397;
    padding: 2px;
}


.title__habilidades {

    color: var(--color1);
    text-align: center;
    font-size: 45px;
    
}

/* @media  (max-width: 858px){

    
    .title__habilidades {
        
        display: grid;
        margin-left: 210px;
    }
} */

.container__habilidades {

    
    width: 100vh;
    height: 100vh;
    display: grid;    
    grid-template-columns: 1fr;
    grid-column: 2/3;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-right: 200px;


}

/* @media (max-width: 858px){

    .container__habilidades{

        justify-content: center;


    }


} */
.barra {
    width: 350px;
    height: 15px;
    margin: 0 auto;
    background-color: var(--color1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 20px 25px 45px rgba(0, 0, 0, 0.5);
    border-right: 3px solid rgba(225, 225,225, 0.5);
    border-bottom: 3px solid rgba(225, 225,225, 0.5);
}


.subtitle__habilidades {

    text-align: center;
    justify-content: center;
    color: var(--color4);
   
}

.progreso {


    grid-template-columns: 1fr;
    grid-column: 2/3;
    width: var(--W);
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: Aumentar 5s ease;
    -webkit-animation: Aumentar 5s ease;
}

/* @keyframes Aumentar {
    0%{width: 0%;}
    100%{width: var(--W);}
} */

.lineas__habilidades:active .progreso {

   
   
    animation: Aumentar 5s ease;
    A-webkit-animation:;
    -webkit-animation: Aumentar 5s ease;
}

.title__portafolio {

    color: var(--color1);
    text-align: center;
    font-size: 45px;
    
}

.portfolio {
   display: grid;
   padding: 15px;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 1fr;
   gap: 20px;
   margin: 0 auto;
   border-radius: 10px;
   width: 300%;
   height: 200px;
   justify-content: center;
   text-align: center;
  
}
.container__portfolio{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 100px;
    
    
}

.mySlides img {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    width: 90%;
    height: 200px;
    border: solid var(--color4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* @media (max-width: 858px){

    .portfolio {


        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 710px;
        justify-content: center;
        padding: 5px;
        
    }
    .title__portafolio {
        
        display: grid;
        margin-left: 220px;
    }
} */






/* @media (max-width: 858px) {

    
    .container__portfolio {

        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20PX;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: 710px;
        margin: 0 auto;

    }
 
    .mySlides img {
        display: grid;
       
        gap: 20px;
        width: 100%;
        height: 220px;
        border: solid var(--color4);
        border-radius: 10px;
        -webkit-border-radius:;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
} 
    
    

    
}


@media (max-width: 858px){


   
}




@media (max-width:858px) {

    .elements {
        text-align: end;
    }
    
} */



.title__contact {

    color: var(--color1);
    text-align: center;
    font-size: 45px;
    
}

/* @media (max-width: 858px){

    
    .title__contact {
        
        display: grid;
        margin-left: 220px;
    }
} */

.content_contact {


    margin: 0 auto;
    display: grid;
    grid-template-columns: 50%;
    width: 600px;
    gap: 90px;
    height: 400px;

   
}

/* @media (max-width: 858px){

    .content_contact {
        
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
      
            
    }
} */

.phone__contact {
    background-color: var(--color4);
    border-radius: 5px;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* @media (max-width: 858px) {

    .phone__contact{

        margin: 0 auto;
        margin-left: -40px;
    }

    .mail__contact{

        margin: 0 auto;
        margin-left: -40px;
        margin-top: 300px;
    }

} */

.mail__contact {

    background-color: var(--color4);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-self: end;
    margin-top: 220px;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    

}

.footer {

    
    display: grid;
    width: 100%;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    color: var(--color1);
    background-color: var(--color5);
    height: 100px;
}

/* diseño mobil */

@media (max-width: 350px){

    .nav__bar {

        display: none;
        visibility: hidden;
    }

    #icon__burguer {

        display: flex;
        width: 200px;
        height: 200px;
    }
}
    